# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://report_user:CDsb2026@localhost:5432/clover_reports?schema=public"

# App Port
PORT=3010

# Auth Secret
JWT_SECRET="clover_digital_service_reports_secure_key_2026"
NEXTAUTH_SECRET="clover_digital_service_reports_secure_key_2026"

# App Info
NEXT_PUBLIC_APP_NAME="Clover Digital Service Reports"
NEXT_PUBLIC_COMPANY_NAME="Clover Digital Sdn Bhd"
NEXT_PUBLIC_COMPANY_REG="201501034912"
NEXT_PUBLIC_COMPANY_ADDR="7A Jalan PP2/1, Taman Putra Prima, 47100 Puchong, Selangor"
NEXT_PUBLIC_COMPANY_EMAIL="admin@cloverdigital.com.my"
NEXT_PUBLIC_COMPANY_WEB="www.cloverdigital.com.my"
